/* || Reset user agent stylesheet */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* || General Styles */
html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #101682;
}

/* || Header and Navigation Bar */
.concert-font {
    font-family: 'Concert One', cursive;
    font-size: 1.5rem;
    color: #FA003D;
}

header {
    margin-top: 2rem;
    margin-bottom: 3rem;
    vertical-align: baseline;
}

header p {
    display: inline-block;
    font-size: 1.25rem;
    margin-left: 2rem;
    font-weight: bold;
}

nav {
    float: right;
    width: 40%;
    /* margin-top: 1.0625rem; */
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.75rem;
    border-radius: 0.3125rem;
    padding: 0.3125rem;
    background-color: #FF4700;
}

nav a:link {
    color: #FFF;
}

nav a:visited {
    color: #FFF;
}

nav a:hover {
    color: #101682;
}

nav a:active {
    color: #F2E335;
    background-color: #101682;
    transition: color .1s ease-in, background-color .1s ease-in;
}

/* Media query for laptop and bigger screens */
@media only screen and (min-width: 1024px) {
    .concert-font {
        font-size: 3rem;
    }

    header p {
        font-size: 2rem;
    }

    nav {
        margin-top: 1.5rem;
    }

    nav a {
        font-size: 1rem;
        padding: 0.3125rem;
    }
}


/* Media query for tablet */
@media only screen and (max-width: 560px) {
    nav {
        width: 60%;
        margin-top: .5rem;
    }
}

/* Media query for mobile */
@media only screen and (max-width: 320px) {
    nav {
        width: 60%;
        margin-top: .5rem;
    }

    nav a {
        padding: 0;
        font-size: 0.625rem;
    }
}


/* || Banner Section  */
.banner img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.banner-content {
    text-align: center;
    margin: 2rem 1rem;
    font-size: 1.25rem;
}

@media only screen and (max-width: 768px) {
    .banner-content {
        font-size: 1rem;
    }
}

/* || Main Content( Learning Section) */
.main h2 {
    text-align: center;
    margin: 10rem 2rem 0;
    font-size: 2rem;
}

@media only screen and (max-width: 417px) {
    .main h2 {
        font-size: 1.5rem;
    }
}

.main-container {
    width: 100%;
}

.main-item {
    display: grid;
    grid-template: 9.375rem 1fr / repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    gap: 0.625rem;
    margin: 2rem 0;
    overflow: hidden;
}

.main-item h3 {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: end;
    margin-bottom: 1rem;
}

.main-item img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .main-item {
        grid-template: 3.375rem 1fr / repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    .main-item {
        grid-template: 9rem 1fr 1fr 1fr / 1fr;
    }

    .main-item h3 {
        grid-column-start: 1;
        grid-column-end: 1;
    }
}


/* || Contact Us */
